<h1>買う</h1>

<%= render 'shared/logout_the_game_required_alert' %>

<h2>
  <img src="<%= @selling_item.item.image_url %>">
  <%= item_name_with_metadata(@selling_item.item) %>
</h2>

<%= render 'shared/item_transaction_info', item: @selling_item %>
<%= link_to '購入する', my_purchased_items_path(selling_item_id: @selling_item.id), method: :post, class: 'btn btn-primary w-100 mt-3' %>
