<% purchase_requests = current_user.purchase_requests %>
<%= render 'header_tab' %>
<% if purchase_requests.empty? %>
  <%= render 'shared/no_items' %>
<% else %>
  <ul class="list-group">
    <% purchase_requests.each do |purchase_request| %>
      <li class="list-group-item">
        <div class="row">
          <%= render 'shared/item_in_list', item: purchase_request.item, stack: purchase_request.stack %>
          <div class="col-sm">
            <%= render 'shared/item_transaction_info', item: purchase_request %>
          </div>
          <div class="col-md-auto">
            <%= form_with url: purchase_request_path(purchase_request), method: :delete do |f| %>
              <%= f.submit "削除", class: 'btn btn-warning w-100' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
