<ul class="nav nav-tabs mb-3">
  <%= render 'header_tab_item', status: :on_sale %>
  <%= render 'header_tab_item', status: :canceled %>
</ul>
<% if @selling_items.empty? %>
  <%= render 'shared/no_items' %>
<% else %>
  <ul class="list-group">
    <% @selling_items.each do |selling_item| %>
      <li class="list-group-item">
        <div class="row">
          <%= render 'shared/item_in_list', item: selling_item.item, stack: selling_item.stack %>
          <div class="col-sm">
            <% case selling_item.transaction_type %>
            <% when "coin" %>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <img src="<%= Item.image_url(Item::PLATINUM_COIN_ID) %>">
                  <%= selling_item.platinum_coin_count %>
                </li>
                <li class="list-group-item">
                  <img src="<%= Item.image_url(Item::GOLD_COIN_ID) %>">
                  <%= selling_item.gold_coin_count %>
                </li>
                <li class="list-group-item">
                  <img src="<%= Item.image_url(Item::SILVER_COIN_ID) %>">
                  <%= selling_item.silver_coin_count %>
                </li>
                <li class="list-group-item">
                  <img src="<%= Item.image_url(Item::COPPER_COIN_ID) %>">
                  <%= selling_item.copper_coin_count %>
                </li>
              </ul>
            <% when "barter" %>
            <% else %>
              <% raise '未知の取引タイプ' %>
            <% end %>
          </div>
          <div class="col-sm">
            <%= render 'selling_items/time_stamps', selling_item: selling_item %>
          </div>
          <div class="col-md-auto">
            <% case @status %>
            <% when SellingItem.statuses[:on_sale] %>
              <%= link_to "キャンセル", selling_item_path(selling_item), method: :delete, class: 'btn btn-warning w-100' %>
            <% when SellingItem.statuses[:canceled] %>
              <img src="<%= Item.bank_item_image_url(TsCharacter.bank_item_id_by_inventory_index(selling_item.inventory_index)) %>">
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
