<% if @selling_items.empty? %>
  <%= render 'shared/no_items' %>
<% else %>
  <% if @status == SellingItem.statuses[:paying] %>
    <div class="alert alert-info" role="alert">
      ※ ゲームからしばらくログアウトしていると代金が振り込まれます
    </div>
  <% end %>
  <ul class="list-group">
    <% @selling_items.each do |selling_item| %>
      <li class="list-group-item">
        <div class="row">
          <%= render 'shared/item_in_list', item: selling_item.item, stack: selling_item.stack %>
          <div class="col-sm">
            <%= render 'shared/item_transaction_info', item: selling_item %>
          </div>
          <div class="col-sm text-end">
            <%= render 'shared/selling_item_time_stamps', selling_item: selling_item %>
          </div>
          <div class="col-md-auto">
            <% case @status %>
            <% when SellingItem.statuses[:on_sale] %>
              <%= form_with url: my_selling_item_path(selling_item), method: :delete do |f| %>
                <%= f.submit "キャンセル", class: 'btn btn-warning w-100' %>
              <% end %>
            <% when SellingItem.statuses[:canceled] %>
              <img src="<%= Item.storage_item_image_url(selling_item.storage_item_id) %>">
            <% when SellingItem.statuses[:paying] %>
              <%= selling_item.purchased_item.user.name %>
            <% when SellingItem.statuses[:paid] %>
              購入者：<%= selling_item.purchased_item.user.name %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
