<h1>売る</h1>

<%= render 'shared/logout_the_game_required_alert' %>

<h2>
  <img src="<%= @selling_item.item.image_url %>">
  <%= item_name_with_metadata(@selling_item.item) %>
</h2>

<%= form_with(model: @selling_item, local: true, url: my_selling_items_path) do |f| %>
  <%= f.hidden_field :prefix_id %>
  <%= f.hidden_field :slot_index %>
  <%= render 'shared/item_form', f: f, max_stack: f.object.item.stack %>
<% end %>




